# Project exclude paths
/2019-APR-08/
/All-Constituency-Cards-Final/
/bin/
/CANDIDATE_PHOTOS/
/Nilgiris-Cards-Final/
/PARTY_SYMBOLS/
/PDF-devtest/
/PDF-Final-Submitted/
/PDF-JPG-try/
/PDF-old/
/Photos-20190409T112403Z-001/
/Sivaganga-Cards-final/
/Symbols-20190409T112756Z-001/
/Vizhuppuram-Cards-Final/